<h1 class="page_head">Etnicity Viewer</h1>

<div class="people">
  <h2>Ethnicity: </h2> <h3><%= @ethnic.name %></h3>
  <p><span>Members Details:</span></p>
  <% @ethnic.classical_muslims.each do |member| %>
    <p class="field_bar"> <a href="/classical_muslim/show/<%= member.id%>"><%= member.ism%> <%= member.nasab%></a></p>
  <% end %>
</div>

<div class="descriptions">

  <p><span>Description:</span></p>
  <% if @ethnic.descriptions.first %>
    <p><%= @ethnic.descriptions.first.content %> </p>
  <% end %>

</div>


<br>